<div class="row">
    <form action="/generate-ticket" method="post">



        <div class="form-group">
            <h1>Enter Customer Details</h1>


            Name : <input type="text" name="PassengerName" class="form-control">
            Email ID : <input type="email" name="PassengerEmail" class="form-control">

            Booking id : <input name="bookingId" type="number" class="form-control">
            Number of bags :  <input name="numberOfBags" type="number" class="form-control">


        </div>
        <button type="submit" class="btn btn-dark">Generate</button>
    </form>

</div>

